@import "../../../styles/variables";

.container {
  padding: 38px 0;
  text-align: center;
  color: $tertiaryColor;

  h1 {
    margin: 32px 0;
  }
}

.cards_container {
    width: 80%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;

    .card {
        break-inside: avoid;
        page-break-inside: avoid;
        padding: 12px;
        font-size: 18px;
        letter-spacing: 1px;
      }
}


.about{
  h3 {
    line-height: 20px;
    padding: 28px 0;
  }

  p {
    padding: 12px 0;
  }
}