# vscode
.vscode

# Hardhat
hardhat-nfu-ukr/artifacts
hardhat-nfu-ukr/cache
hardhat-nfu-ukr/deployments
hardhat-nfu-ukr/input
node_modules
hardhat-nfu-ukr/coverage
hardhat-nfu-ukr/coverage.json
hardhat-nfu-ukr/typechain
hardhat-nfu-ukr/typechain-types

# Next
next-nfu-ukr/.next
next-nfu-ukr/next-env.d.ts
next-nfu-ukr/package-lock.json

# Yarn
yarn.lock

# Environment variables
.env

# Build artefacts
bin/
gen/
out/

# Log Files
*.log