@import "../../styles/variables";

.team {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    padding: 32px 12px;
    font-size: 18px;
    letter-spacing: 1px;
  }
}

.team_members {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.team_card {
  background: $backgroundColor1;
  box-shadow: $boxShadow1;
  width: 14%;
  display: inline-block;
  margin: 30px;
  transition: 0.3s;
  border-radius: 15px;
  flex: 0 0 25%;

  img {
    // filter: grayscale(100%);
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  h4 {
    font-weight: 400;
    padding-top: 12px;
  }

  p {
    padding: 12px 6px;
    font-weight: 300;
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .team {
    padding-bottom: 48px;
  }

  .team_card {
    display: inline-block;
    width: 30%;
    margin: 25px 52px;
  }
}

@media screen and (max-width: 768px) {
  .team_card {
    display: inline-block;
    position: relative;
    width: 33%;
    margin: 18px 38px;
  }
}

@media screen and (max-width: 425px) {
  .team>p {
    padding: 20px;
  }

  .team_card {
    display: inline-block;
    width: 65%;
    margin: 18px 0;

    h4 {
      padding: 8px;
      font-weight: 200;
      font-size: 16px;
    }

    p {
      font-weight: 100;
      font-size: 14px;
      padding: 8px;
    }
  }
}