@import "../../styles/variables";

.team {
  width: 80%;
  padding: 38px 0;
  margin: 0 auto;

  .team_manifest {
    margin: 0 auto;
    
    padding: 52px 12px;
    font-size: 28px;
    letter-spacing: 1px;
  }
}

.team_card {
  background: $backgroundColor1;
  box-shadow: $boxShadow1;
  width: 14%;
  display: inline-block;
  margin: 32px;
  transition: 0.3s;
  border-radius: 15px;
  
  img {
    // filter: grayscale(100%);
    width: 100%;
    border-bottom: 2px solid #0d0c5f;
    border-radius: 10px 10px 0 0;
  }

  .team_card_text {
    min-height: max-content;
    
    h3 {
      text-align: center;
      padding: 12px;
    }

    p {
      padding: 18px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .team {
    padding-bottom: 48px;
  }

  .team_card {
    display: inline-block;
    width: 30%;
    margin: 25px 52px;
  }
}

@media screen and (max-width: 768px) {
  .team_card {
    display: inline-block;
    position: relative;
    width: 33%;
    margin: 18px 38px;
  }
}

@media screen and (max-width: 425px) {
  .team > p {
    padding: 20px;
  }

  .team_card {
    display: inline-block;
    width: 65%;
    margin: 18px 0;
  }
}
