@import "../../styles/variables";

.team {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .team_manifest {
    margin: 0 auto;

    padding: 52px 12px;
    font-size: 28px;
    letter-spacing: 1px;
  }

  p {
    padding: 32px 12px;
    font-size: 18px;
    letter-spacing: 1px;
  }
}

.team_members {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team_card {
  background: $backgroundColor1;
  box-shadow: $boxShadow1;
  max-width: 17%;
  margin: 18px;
  border-radius: 15px;

  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  h4 {
    font-weight: 400;
    padding-top: 12px;
  }

  p {
    padding: 12px 6px;
    font-weight: 300;
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .team {
    padding-bottom: 48px;
  }

  .team_card {
    max-width: 24%;
    margin: 18px 12px;
  }
}

@media screen and (max-width: 768px) {
  .team_card {
    max-width: 36%;
    margin: 18px 8px;
  }
}

@media screen and (max-width: 425px) {
  .team>p {
    padding: 10px;
  }

  .team_card {
    max-width: 60%;
    margin: 18px auto;

    h4 {
      padding: 8px;
      font-weight: 300;
      font-size: 16px;
    }

    p {
      font-weight: 200;
      font-size: 14px;
      padding: 8px;
    }
  }
}