@import "../../styles/variables";

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    max-width: 100%;
    min-width: 100%;
    z-index: 10;
    top: 0;
    background: #00005b;

    .logo {
      padding: 1vh 2vw;
      text-align: center;
    
      img {
        height: 5rem;
        width: 5rem;
      }
    }
  
      /*Styling Links*/
      .nav_links {
        position: relative;
        display: flex;
        list-style: none;
        width: 88vw;
        height: auto;
        padding: 0 0.7vw;
        justify-content: space-evenly;
        align-items: center;
        text-transform: uppercase;

        
        a {
          text-decoration: none;
          margin: 0 0.7vw;
          
          &:hover {
            color: $btnColor1;
          }
          
          &:hover::before {
            width: 80%;
          }
        }
      }
      .mobile_menu_btn {
        display: none;
      }

    }
    .emblem_container {
      position: relative;
      z-index: -1;
      top: 140px;
      display: flex;
      justify-content: space-between;

      .emblem {
        width: 8em;
      }

      .logo_container {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
      
        .logo_header_image {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          max-width: 70%;
          margin: 0 auto;
        }
      
        .description_item {
          text-align: center;
          color: $btnColor1;
          font-size: 40px;
          font-weight: 600;
          letter-spacing: 2px;
        }
      }

      .emblem_wrapper {
        transform: scaleX(-1);
      } 
    }
}

.nav_language {
  z-index: 3;
  align-items: center;
}

.nav-links .a {
  font-size: 18px;
  transition: 0.3s;
}

.hamburger {
  display: none;

  div {
    width: 30px;
    height: 3px;
    background: $btnColor1;
    margin: 5px;
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    .header_container {
      .nav_language {
        right: 70px;
      }
      .nav_links {
       flex-direction: column;
       justify-content: center;
       position: absolute;
       left: -100%;
       right: 0;
       top: 0;
       bottom: 0;
       height: 100svh;
       width: 100%;
       z-index: 10;
       background: $backgroundColor2;
       transition: left 1s;
      }
      .active {
        left: 0;
      }
      .mobile_menu_btn {
        display: block;
        position: absolute;
        right: 10px;
        z-index: 10;
      }

    }
    .nav_language {
      position: relative;
      right: 40px;
    }
  }
  
}