.header {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.nav-menu {
  display: inline-block;
  padding: 12px 0;
  margin: 12px 0;

  .a {
    font-size: 18px;
    transition: 0.3s;
  }
  .emblem {
    width: 12%;
    padding-top: 10%;
  }

  .right {
    position: absolute;
    top: 10px;
    right: 25px;
    transform: scaleX(-1);
  }

  .left {
    position: absolute;
    top: 10px;
    left: 25px;
  }
}

.logo {
  padding: 1vh 2vw;
  text-align: center;
}

.logo img {
  height: 5rem;
  width: 5rem;
}

.logo_header_image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
  padding-top: 20%;
  display: block;
  position: absolute;
  top: 230px;
  left: 17%;
  width: 290px;
}