@mixin myButton {
  box-shadow: $boxShadow1;
  color: $secondaryColor;
  background: $btnColor1;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

@mixin myLinks {
  a {
    text-decoration: none;
    text-align: center;
    padding: 18px 15px;
    color: $mainColor;
  }  
}