// --- COLORS --- 

$mainColor: #EFFFFD;
$secondaryColor: #25316D;
$tertiaryColor: #FEF5AC;

$btnColor1: #FFD600;
$btnColor2: #252629;

$backgroundColor1: #883576;
$backgroundColor2: #1d093f;
$backgroundColor3: #FEF5AC;
$backgroundColor4: #FFD600;

$borderColor1: #D800A6;
$borderColor2: #FEF5AC;

$boxShadow1: 0 2px 18px 2px #FEF5AC;
$boxShadowHR: 0 5px 5px -5px #97D2EC,
0 15px 15px -15px #FEF5AC;

$gradient: linear-gradient(#25316D, #5F6F94);

// --- Sidebar Menu Colors ---

$itemHeight: 50px;

$bgColor: #FF5252;
$bgColor2: #FF1744;

//Currently 10 colors, add more if you have over 10 menu items
$menuColor: #E0F7FA
  #B2EBF2 #80DEEA #4DD0E1
  #26C6DA #00BCD4 #00ACC1 
  #0097A7 #00838F #006064;

// --- Fonts ---

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');

//  --- Sidebar Menu Fonts---

$top-font: 'Montserrat', sans-serif;
$mid-font: 'Lato', sans-serif;