@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
@import url("https://fonts.googleapis.com/css?family=Roboto:500");
a {
  text-decoration: none;
  text-align: center;
  padding: 18px 15px;
  color: #EFFFFD;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
  outline: none;
}

html {
  height: 100%;
  background: #1d093f;
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.neural_connections {
  position: absolute;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

ul li {
  list-style-type: none;
}

.container {
  padding: 38px 0;
  text-align: center;
  color: #FEF5AC;
}

.container h1 {
  margin: 32px 0;
}

hr {
  width: 75%;
  height: 35px;
  box-shadow: 0 5px 5px -5px #97D2EC, 0 15px 15px -15px #FEF5AC;
  margin: 0 auto;
}

.skiptranslate {
  display: none;
}

.language {
  position: absolute;
  top: 0;
  right: 16px;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.language__img {
  width: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  opacity: 0.5;
}

.language__img:hover,
.language__img_active {
  opacity: 1;
}

.header {
  min-height: 100vh;
  width: 97%;
  margin: 5px auto;
}

.emblem {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 250px;
}

.left {
  position: relative;
  top: 0;
  left: 25px;
}

.right {
  position: absolute;
  top: 0;
  right: 55px;
  transform: scaleX(-1);
}

.logo_header {
  width: 500px;
}

.logo_header_image {
  margin: auto;
}

.description-item {
  position: absolute;
  bottom: 5em;
  left: 6em;
  color: #FEF5AC;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 2px;
}

canvas {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: -35px;
  left: 0;
}

.products {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
}

.product-card {
  z-index: 1;
  box-shadow: 0 2px 18px 2px #FEF5AC;
  background: #883576;
  position: relative;
  width: 300px;
  height: 400px;
  margin: 40px auto;
  border-radius: 10px;
}

.product-card h2 {
  text-transform: uppercase;
  padding: 12px 0;
}

.product-card .product-img {
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 10%;
     object-position: 0 10%;
  position: absolute;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  height: inherit;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.product-card .name {
  z-index: 2;
  color: #FEF5AC;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 130px;
  font-size: 20px;
  letter-spacing: 1px;
}

.product-card .price {
  z-index: 2;
  background: #883576;
  color: #FEF5AC;
  position: absolute;
  width: 55%;
  text-align: center;
  border-radius: 0 10px 10px 0;
  border: 1px solid #FEF5AC;
  bottom: 85px;
  padding: 8px;
  font-size: 20px;
  font-weight: 300;
}

.product-card .popup-btn {
  box-shadow: 0 2px 18px 2px #FEF5AC;
  color: #25316D;
  background: #FFD600;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

/*Styles for popup view*/
.popup-view {
  z-index: 2;
  background: rgba(254, 244, 172, 0.6235294118);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.popup-view.active {
  opacity: 1;
  visibility: visible;
}

.popup-card {
  position: relative;
  display: flex;
  width: 70%;
  height: 500px;
}

.popup-card .product-img {
  z-index: 2;
  background: #883576;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
  transform: translateY(25px);
  border-radius: 10px 0 10px 10px;
}

.popup-card .product-img img {
  z-index: 2;
  position: relative;
  width: 80%;
  border-radius: 10px;
  -o-object-fit: fill;
     object-fit: fill;
}

.popup-card .info {
  z-index: 2;
  background: #1d093f;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 10px 10px 10px 0;
}

.popup-card .close-btn {
  color: #FFD600;
  z-index: 3;
  position: absolute;
  right: 0;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}

.popup-card .info h2 {
  color: #FEF5AC;
  font-size: 40px;
  line-height: 20px;
  margin: 10px;
}

.popup-card .info span {
  color: #FEF5AC;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
}

.popup-card .info p {
  color: #FEF5AC;
  font-size: 15px;
  margin: 10px;
}

.popup-card .info .price {
  color: #FEF5AC;
  font-size: 30px;
  font-weight: 200;
  margin: 10px;
}

.popup-card .info .add-cart-btn {
  box-shadow: 0 2px 18px 2px #FEF5AC;
  color: #25316D;
  background: #FFD600;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 15px auto;
}

.cards_container {
  width: 80%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}

.card {
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  page-break-inside: avoid;
  padding: 12px;
  font-size: 18px;
  letter-spacing: 1px;
}

.about h3 {
  line-height: 20px;
  padding: 28px 0;
}

.about p {
  padding: 12px 0;
}

.team {
  width: 80%;
  padding: 38px 0;
  margin: 0 auto;
}

.team > p {
  padding: 32px 12px;
  font-size: 18px;
  letter-spacing: 1px;
}

.team-card {
  background: #1d093f;
  box-shadow: 0 2px 18px 2px #FEF5AC;
  width: 14%;
  display: inline-block;
  margin: 25px;
  transition: 0.3s;
  border-radius: 15px;
}

.team-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.team-card h4 {
  font-weight: 400;
  padding-top: 12px;
}

.team-card p {
  padding: 12px 6px;
  font-weight: 300;
  font-size: 14px;
}

.team-card:hover {
  transform: scale(1.1);
  color: #EFFFFD;
}

.contacts {
  padding-top: 38px;
}

address {
  font-size: 25px;
  font-weight: 400;
}

address a {
  color: #FEF5AC;
}

address a:hover {
  color: #EFFFFD;
}

.footer {
  text-align: center;
}

.nav_menu {
  display: inline-block;
  padding: 12px 0;
  margin: 12px 0;
}

.nav_menu a {
  font-size: 18px;
  transition: 0.3s;
}

.nav_menu a:hover {
  color: #FEF5AC;
  transform: scale(1.2);
}

.footer_media {
  padding: 32px 0;
}

.icon-img {
  width: 30px;
  transition: all 0.3s;
}

.icon-img:hover {
  opacity: 1;
  transform: scale(1.2);
}

.copyright {
  color: #FEF5AC;
  margin: 14px 0;
  padding-bottom: 35px;
  font-weight: 200;
  font-size: 13px;
}

div.cookiebanner > a {
  background: #1d093f;
  border: 1px solid #1d093f;
}

@media screen and (max-width: 1440px) {
  .language__img {
    width: 28px;
  }
  .language__img:hover,
.language__img_active {
    opacity: 1;
  }
  .emblem {
    width: 230px;
  }
  .left {
    position: absolute;
    top: 8px;
    left: 46px;
  }
  .right {
    position: absolute;
    top: 8px;
    right: 46px;
    transform: scaleX(-1);
  }
  .popup-card {
    position: relative;
    display: flex;
    width: 100%;
    height: 550px;
    left: 30px;
  }
  .popup-card .info {
    width: 45%;
  }
  .popup-card .close-btn {
    top: -10px;
    right: 111px;
  }
  .cards_container {
    width: 80%;
    margin: 8px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
  }
  .card {
    -moz-column-break-inside: avoid;
         break-inside: avoid;
    page-break-inside: avoid;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .about h3 {
    line-height: 18px;
    padding: 22px 0;
  }
  .about p {
    padding: 8px 0;
  }
}
@media screen and (max-width: 1024px) {
  .language__img {
    width: 28px;
  }
  .language__img:hover,
.language__img_active {
    opacity: 1;
  }
  .emblem {
    width: 160px;
  }
  .left {
    position: absolute;
    top: 8px;
    left: 46px;
  }
  .right {
    position: absolute;
    top: 8px;
    right: 46px;
    transform: scaleX(-1);
  }
  .logo_header img {
    padding-top: 12em;
    width: 320px;
  }
  .description-item {
    font-size: 20px;
  }
  .gallery {
    padding-bottom: 40px;
  }
  .products {
    display: grid;
    grid-template-columns: auto auto;
  }
  .product-card .price {
    width: 55%;
  }
  .popup-card .close-btn {
    right: 70px;
  }
  .cards_container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 60px;
  }
  .team {
    padding-bottom: 48px;
  }
  .team-card {
    display: inline-block;
    width: 30%;
    margin: 25px 52px;
  }
}
@media screen and (max-width: 768px) {
  .language__img {
    width: 28px;
  }
  .language__img:hover,
.language__img_active {
    opacity: 1;
  }
  .emblem {
    width: 160px;
  }
  .left {
    position: absolute;
    top: 8px;
    left: 46px;
  }
  .right {
    position: absolute;
    top: 8px;
    right: 46px;
    transform: scaleX(-1);
  }
  .logo_header img {
    padding-top: 12em;
    width: 320px;
  }
  .description-item {
    font-size: 20px;
  }
  .gallery h1 {
    padding-top: 50px;
  }
  .products {
    display: grid;
    grid-template-columns: auto auto;
    gap: 35px;
  }
  .product-card {
    margin: 14px auto;
  }
  .popup-card {
    position: relative;
    display: flex;
    left: -15px;
    top: -25px;
  }
  .popup-card .product-img {
    width: 50%;
    height: 100%;
    border-radius: 10px 0 10px 10px;
  }
  .popup-card .close-btn {
    top: 0px;
    right: 8px;
    font-size: 14px;
    padding: 12px;
    cursor: pointer;
  }
  .popup-card .info h2 {
    color: #FEF5AC;
    font-size: 25px;
    line-height: 20px;
    padding-top: 24px;
    margin: 0;
  }
  .popup-card .info span {
    color: #FEF5AC;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
  }
  .popup-card .info .price {
    color: #FEF5AC;
    font-size: 30px;
    font-weight: 200;
    margin: 0;
  }
  .cards_container {
    display: block;
  }
  .team-card {
    display: inline-block;
    position: relative;
    width: 33%;
    margin: 18px 38px;
  }
  .nav_menu a {
    font-size: 16px;
  }
  .translator {
    display: block;
    font-size: 16px;
  }
}
@media screen and (max-width: 425px) {
  .language {
    top: 0;
    right: 16px;
    z-index: 3;
    display: flex;
    flex-direction: row;
  }
  .language__img {
    width: 26px;
    padding-left: 8px;
  }
  .language__img:hover,
.language__img_active {
    opacity: 1;
  }
  .emblem {
    width: 110px;
  }
  .left {
    position: absolute;
    top: 10px;
    left: 36px;
  }
  .right {
    position: absolute;
    top: 10px;
    right: 36px;
    transform: scaleX(-1);
  }
  .logo_header img {
    padding-top: 14em;
    width: 220px;
  }
  .description-item {
    font-size: 18px;
  }
  canvas {
    top: -20px;
    left: 12px;
  }
  .products {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
  .product-card {
    width: 310px;
    height: 600px;
    margin-bottom: 72px;
  }
  .popup-card {
    display: block;
    width: 90%;
    top: -110px;
    left: 0;
  }
  .popup-card .product-img {
    background: #1d093f;
    width: auto;
    height: 50%;
    border-radius: 10px 10px 0 0;
  }
  .popup-card .product-img img {
    height: 100%;
    width: auto;
    border-radius: 0;
  }
  .popup-card .info {
    background: #883576;
    height: 80%;
    width: auto;
    border-radius: 0 0 10px 10px;
  }
  .popup-card .close-btn {
    font-size: 14px;
    top: 29px;
    right: -10px;
    cursor: pointer;
  }
  .popup-card .info h2 {
    font-size: 20px;
    line-height: 18px;
  }
  .popup-card .info h2 span {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .popup-card .info p {
    font-size: 16px;
    text-align: justify;
    letter-spacing: 1px;
    overflow: scroll;
  }
  .popup-card .info .price {
    color: #EFFFFD;
    font-size: 25px;
    font-weight: 200;
    margin: 0;
  }
  .popup-card .info .add-cart-btn {
    color: #25316D;
    background: #FFD600;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 6px auto;
    padding: 8px 50px;
    border-radius: 10px;
  }
  .team > p {
    padding: 20px;
  }
  .team-card {
    display: inline-block;
    width: 65%;
    margin: 18px 0;
  }
  .team-card h4 {
    padding: 8px;
    font-weight: 200;
    font-size: 16px;
  }
  .team-card p {
    font-weight: 100;
    font-size: 14px;
    padding: 8px;
  }
  .nav_menu a {
    display: block;
  }
  .translator {
    font-size: 15px;
    margin: 24px auto;
    display: block;
  }
  .copyright {
    width: 85%;
    margin: 0 auto;
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */