@import "variables";
@import "mixins";
@include myLinks;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
  outline: none;
}

html {
  height: 100%;
  background: $backgroundColor2;
}

body {
  min-height: 100%;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 40px;

}

.neural_connections {
  position: absolute;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

ul li {
  list-style-type: none;
}

.container {
  padding: 38px 0;
  text-align: center;
  color: $tertiaryColor;
}

.container h1 {
  margin: 32px 0;
}

hr {
  width: 75%;
  height: 35px;
  box-shadow: $boxShadowHR;
  margin: 0 auto;
}

// Header

.skiptranslate {
  display: none;
}

// Header menu

nav {
  height: 5rem;
  width: 100vw;
  background: $backgroundColor2;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
}

/*Styling logo*/
.logo {
  padding: 1vh 1vw;
  text-align: center;
}

.logo img {
  height: 5rem;
  width: 5rem;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
}

.nav-links li a:hover {
  color: $btnColor1;
}

.nav-links li {
  position: relative;
}

.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: $btnColor2;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
  width: 80%;
}


/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: $btnColor1;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}


// Translator

.language_header_menu_img {
  display: none;
}

.language {
  z-index: 3;
  position: absolute;
  bottom: 10%;
  left: 45%;
}

.language__img {
  width: 35px;
  margin: 20px;
  cursor: pointer;
  opacity: .4;
  border: 2px solid #883576;
  box-shadow: 0 4px 8px 0 #FFD600, 0 6px 20px 0 #FEF5AC;
}

.language__img:hover,
.language__img_active {
  opacity: 1;
}

.header {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.emblem {
  width: 12%;
  padding-top: 10%;
}

.left {
  position: absolute;
  top: 10px;
  left: 25px;
}

.right {
  position: absolute;
  top: 10px;
  right: 25px;
  transform: scaleX(-1);
}

.logo_header_menu_image {
  display: none;
}

.logo_header_image {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 70%;
  margin: 0 auto;
  padding-top: 45%;
}

.description-item {
  margin: 15px auto;
  max-width: 70%;
  color: $btnColor1;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
}

canvas {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

// Gallery

.products {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
}

.product-card {
  z-index: 1;
  box-shadow: $boxShadow1;
  background: $backgroundColor1;
  position: relative;
  width: 300px;
  height: 400px;
  margin: 40px auto;
  border-radius: 10px;
}

.product-card h2 {
  text-transform: uppercase;
  padding: 12px 0;
}

.product-card .product-img {
  z-index: 1;
  object-fit: cover;
  object-position: 0 10%;
  position: absolute;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  height: inherit;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.product-card .name {
  z-index: 2;
  color: $tertiaryColor;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 130px;
  font-size: 20px;
  letter-spacing: 1px;
}

.product-card .price {
  z-index: 2;
  background: $backgroundColor1;
  color: $tertiaryColor;
  position: absolute;
  width: 55%;
  text-align: center;
  border-radius: 0 10px 10px 0;
  border: 1px solid $borderColor2;
  bottom: 85px;
  padding: 8px;
  font-size: 20px;
  font-weight: 300;
}

.product-card .popup-btn {
  @include myButton;
  z-index: 2;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

/*Styles for popup view*/

.popup-view {
  z-index: 2;
  background: #fef4ac9f;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.popup-view.active {
  opacity: 1;
  visibility: visible;
}

.popup-card {
  position: relative;
  display: flex;
  width: 70%;
  height: 500px;
}

.popup-card .product-img {
  z-index: 2;
  background: $backgroundColor1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
  transform: translateY(25px);
  border-radius: 10px 0 10px 10px;
}

.popup-card .product-img img {
  z-index: 2;
  position: relative;
  width: 80%;
  border-radius: 10px;
  object-fit: fill;
}

.popup-card .info {
  z-index: 2;
  background: $backgroundColor2;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 10px 10px 10px 0;
}

.popup-card .close-btn {
  color: $btnColor1;
  z-index: 3;
  position: absolute;
  right: 0;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}

.popup-card .info h2 {
  color: $tertiaryColor;
  font-size: 40px;
  line-height: 20px;
  margin: 10px;
}

.popup-card .info span {
  color: $tertiaryColor;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
}

.popup-card .info p {
  color: $tertiaryColor;
  font-size: 15px;
  margin: 10px;
}

.popup-card .info .price {
  color: $tertiaryColor;
  font-size: 30px;
  font-weight: 200;
  margin: 10px;
}

.popup-card .info .add-cart-btn {
  @include myButton;
  width: fit-content;
  margin: 15px auto;
}

// About container

.cards_container {
  width: 80%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}

.card {
  break-inside: avoid;
  page-break-inside: avoid;
  padding: 12px;
  font-size: 18px;
  letter-spacing: 1px;
}

.about h3 {
  line-height: 20px;
  padding: 28px 0;
}

.about p {
  padding: 12px 0;
}

// Team container

.team {
  width: 80%;
  padding: 38px 0;
  margin: 0 auto;
}

.team>p {
  padding: 32px 12px;
  font-size: 18px;
  letter-spacing: 1px;
}

.team-card {

  background: $backgroundColor1;
  box-shadow: $boxShadow1;
  max-width: 80px;
  display: inline-block;
  margin: 25px;
  transition: 0.3s;
  border-radius: 15px;
}

.team-card img {
  filter: grayscale(100%);
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.team-card h4 {
  font-weight: 400;
  padding-top: 12px;
}

.team-card p {
  padding: 12px 6px;
  font-weight: 300;
  font-size: 14px;
}

.team-card img:hover {
  filter: none;
  transition: all ease-in-out 300ms;
  color: $mainColor;
}

// Contacts container

.contacts {
  padding-top: 38px;
}

address {
  font-size: 25px;
  font-weight: 400;
}

address a {
  color: $tertiaryColor;
}

address a:hover {
  color: $mainColor;
}

// Footer

.footer {
  text-align: center;
}

.nav_menu {
  display: inline-block;
  padding: 12px 0;
  margin: 12px 0;
}

.nav_menu a {
  font-size: 18px;
  transition: 0.3s;
}

.nav_menu a:hover {
  color: $tertiaryColor;
  transform: scale(1.2);
}

.footer_media {
  padding: 32px 0;
}

.icon-img {
  width: 30px;
  transition: all .3s;
}

.icon-img:hover {
  opacity: 1;
  transform: scale(1.2);
}

.copyright {
  color: $tertiaryColor;
  margin: 14px 0;
  padding-bottom: 35px;
  font-weight: 200;
  font-size: 13px;
}

// Cookies

div.cookiebanner>a {
  background: $backgroundColor2;
  border: 1px solid #1d093f;
}


// Media queries

@media screen and (max-width: 1440px) {

  .language__img {
    width: 28px;
  }

  .language__img:hover,
  .language__img_active {
    opacity: 1;
  }

  .emblem {
    width: 12%;
  }

  .left {
    position: absolute;
    top: 0;
    left: 25px;
  }

  .right {
    position: absolute;
    top: 0;
    right: 25px;
    transform: scaleX(-1);
  }

  .logo_header_image {
    padding-top: 20%;
    width: 30%;
  }

  .description-item {
    margin: 0 auto;
    padding-top: 15px;
  }

  .popup-card {
    position: relative;
    display: flex;
    width: 100%;
    height: 550px;
    left: 30px;
  }

  .popup-card .info {
    width: 45%;
  }

  .popup-card .close-btn {
    top: -10px;
    right: 111px;
  }

  .cards_container {
    width: 80%;
    margin: 8px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
  }

  .card {
    break-inside: avoid;
    page-break-inside: avoid;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .about h3 {
    line-height: 18px;
    padding: 22px 0;
  }

  .about p {
    padding: 8px 0;
  }
}

@media screen and (max-width: 1024px) {

  .language__img {
    width: 28px;
  }

  .language__img:hover,
  .language__img_active {
    opacity: 1;
  }

  .emblem {
    width: 18%;
  }

  .left {
    position: absolute;
    top: 8px;
    left: 46px;
  }

  .right {
    position: absolute;
    top: 8px;
    right: 46px;
    transform: scaleX(-1);
  }

  .logo_header_image {
    display: block;
    top: 180px;
    margin: 0 auto;
    width: 35%;
  }

  .description-item {
    position: absolute;
    top: 70%;
    left: 30%;
  }

  .gallery {
    padding-bottom: 40px;
  }

  .products {
    display: grid;
    grid-template-columns: auto auto;
  }

  .product-card .price {
    width: 55%;
  }

  .popup-card .close-btn {
    right: 70px;
  }

  .cards_container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 60px;
  }

  .team {
    padding-bottom: 48px;
  }

  .team-card {
    display: inline-block;
    width: 30%;
    margin: 25px 52px;
  }
}

@media screen and (max-width: 768px) {

  nav {
    position: fixed;
    z-index: 3;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .nav-links {
    position: fixed;
    background: $backgroundColor2;
    opacity: 0.85;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(40px at 90% -20%);
    -webkit-clip-path: circle(40px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    clip-path: circle(1100px at 90% -10%);
    -webkit-clip-path: circle(1100px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }

  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }

  // translator

  .language_header_menu_img {
    width: 27px;
    margin: 10px 15px;
    float: right;
  }

  .language {
    left: 40%;
  }

  .language__img {
    width: 28px;
  }

  .language__img:hover,
  .language__img_active {
    opacity: 1;
  }

  .emblem {
    width: 22%;
  }

  .left {
    position: absolute;
    top: 8px;
    left: 20px;
  }

  .right {
    position: absolute;
    top: 8px;
    right: 20px;
    transform: scaleX(-1);
  }

  .logo_header_menu_image {
    display: block;
    float: left;
    width: 80px;
  }

  .logo_header_image {
    width: 50%;
  }

  .description-item {
    position: absolute;
    max-width: 50%;
    top: 55%;
    left: 24%;
  }

  .gallery h1 {
    padding-top: 50px;
  }

  .products {
    display: grid;
    grid-template-columns: auto auto;
    gap: 35px;
  }

  .product-card {
    margin: 14px auto;
  }

  .popup-card {
    position: relative;
    display: flex;
    left: -15px;
    top: -25px;
  }

  .popup-card .product-img {
    width: 50%;
    height: 100%;
    border-radius: 10px 0 10px 10px;
  }

  .popup-card .close-btn {
    top: 0px;
    right: 8px;
    font-size: 14px;
    padding: 12px;
    cursor: pointer;
  }

  .popup-card .info h2 {
    color: $tertiaryColor;
    font-size: 25px;
    line-height: 20px;
    padding-top: 24px;
    margin: 0;
  }

  .popup-card .info span {
    color: $tertiaryColor;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
  }

  .popup-card .info .price {
    color: $tertiaryColor;
    font-size: 30px;
    font-weight: 200;
    margin: 0;
  }

  .cards_container {
    display: block;
  }

  .team-card {
    display: inline-block;
    position: relative;
    width: 33%;
    margin: 18px 38px;
  }

  .nav_menu a {
    font-size: 16px;

  }

  .translator {
    display: block;
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {

  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }

  .language {
    left: 35%;
  }

  .language__img {
    width: 35px;
  }

  .language__img:hover,
  .language__img_active {
    opacity: 1;
  }

  .emblem {
    width: 30%;
  }

  .left {
    position: absolute;
    top: 0;
    left: 20px;
  }

  .right {
    position: absolute;
    top: 0;
    right: 20px;
    transform: scaleX(-1);
  }

  .logo_header_image {
    position: absolute;
    top: 300px;
    left: 17%;
    width: 290px;
  }

  .description-item {
    position: absolute;
    max-width: 50%;
    top: 460px;
    left: 17%;
    font-size: 22px;
    text-align: left;
  }

  canvas {
    top: -20px;
    left: 12px;
  }

  .products {
    width: 80%;
    margin: 0 auto;
    display: block;
  }

  .product-card {
    width: 310px;
    height: 600px;
    margin-bottom: 72px;
  }

  .popup-card {
    display: block;
    width: 90%;
    top: -110px;
    left: 0;
  }

  .popup-card .product-img {
    background: $backgroundColor2;
    width: auto;
    height: 50%;
    border-radius: 10px 10px 0 0;
  }

  .popup-card .product-img img {
    height: 100%;
    width: auto;
    border-radius: 0;
  }

  .popup-card .info {
    background: $backgroundColor1;
    height: 80%;
    width: auto;
    border-radius: 0 0 10px 10px;
  }

  .popup-card .close-btn {
    font-size: 14px;
    top: 29px;
    right: -10px;
    cursor: pointer;
  }

  .popup-card .info h2 {
    font-size: 20px;
    line-height: 18px;
  }

  .popup-card .info h2 span {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .popup-card .info p {
    font-size: 16px;
    text-align: justify;
    letter-spacing: 1px;
    overflow: scroll;
  }

  .popup-card .info .price {
    color: $mainColor;
    font-size: 25px;
    font-weight: 200;
    margin: 0;
  }

  .popup-card .info .add-cart-btn {
    color: $secondaryColor;
    background: $btnColor1;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 6px auto;
    padding: 8px 50px;
    border-radius: 10px;
  }

  .team>p {
    padding: 20px;
  }

  .team-card {
    display: inline-block;
    width: 65%;
    margin: 18px 0;
  }

  .team-card h4 {
    padding: 8px;
    font-weight: 200;
    font-size: 16px;
  }

  .team-card p {
    font-weight: 100;
    font-size: 14px;
    padding: 8px;
  }

  .nav_menu a {
    display: block;
  }

  .translator {
    font-size: 15px;
    margin: 24px auto;
    display: block;
  }

  .copyright {
    width: 85%;
    margin: 0 auto;
    font-size: 12px;
  }
}